.header img{
    height: 80px;
}
.header{
    text-align: center;
    margin-top: 20px;
}
.header nav{
    background-color: rgb(38, 38, 48);
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 5px;
}
nav a:hover{
    background-color: rgb(150, 143, 150);
}